
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.main {
    width: 60%;
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-top: 6px solid #e60000;
}

.main h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    color: #e60000;
}

.main h3 {
    color: #111;
    margin-top: 20px;
    font-size: 22px;
}

p {
    font-size: 17px;
    line-height: 1.6;
    color: #333;
}

.main strong {
    color: #e60000;
    font-weight: bold;
}

.main hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}


.main a {
    display: inline-block;
    background: #e60000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.25s;
}

.main a:hover {
    background: #b30000;
}

@media screen and (max-width: 1024px) {
    .main {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 90%;
        padding: 20px;
    }

    .main h2 {
        font-size: 24px;
    }
}
