*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: rgb(229, 225, 219);
}

/* CSS đăng ký */
h1{
    margin-top: 2%;
    font-family:   monospace;
    font-size: 37px;
}
.container_register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#form_register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    background-color: #f4556f;
    border-radius: 15px;
    gap: 5%;
    width: 60%;
    height: 70vh;
}

#form_register input{
    width: 60%;
    height: 7vh;
    border-radius: 13px;
}
input:not([type="submit"]){
    text-align: left;
}
input{
    font-size: medium;
}
input::placeholder{
    padding-left: 3%;
}

#submit_regis{
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 23%;
}
#btn_dn{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -4%;
}
#btn_dn input, #btn_dn p{
    width: 100%;
    text-align: center;
    margin-left: 40%;
}
#submit_regis input:hover{
    color: white;
    background-color: rgb(45, 42, 42);
    font-size: medium;
}

/* CSS đăng nhập */
#form_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    background-color: #f4556f;
    border-radius: 15px;
    gap: 5%;
    width: 60%;
    height: 50vh;
}
#form_login input{
    width: 60%;
    height: 7vh;
    border-radius: 13px;
}
#sub_login{
    display: flex;
    align-items: center;
    width: 55%;
    margin: 0 32%;
    margin-top: 5%;
}
#sub_login input:hover{
    color: white;
    background-color: rgb(45, 42, 42);
    font-size: medium;
}
